.object-fit-cover {
  object-fit: cover;
  min-height: 100%;
}
.hover-shadow:hover {
  transform: translateY(-3px);
  transition: 0.3s;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.15)!important;
}
.grayscale {
  filter: grayscale(100%);
  opacity: 0.7;
}
.rotate-badge {
  transform: translate(-50%, -50%) rotate(-15deg);
}